In [1]:
# Import dependencies 
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

# sklearn is the Scikit-learn machine learning library for Python. 
# It has many modules, including one for linear regression, which we use here as our model
# We will use linear regression since we are trying to predict an outcome (i.e. salary) based on an input(s) (i.e. points)
from sklearn.linear_model import LinearRegression

In [2]:
# Import our final data file
df = pd.read_csv(Path('Resources/playerDataFinal.csv'))
# View the dataframe
df

C:\Users\Dean\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (54,58,59) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,playerid,year,playername,position,age,teamabb,games,gamestarted,mp,per,...,seasonend,teamabbrevated,fullteam,seasonyear,team,record,wins,losses,win_percentage,teamshort
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25278,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,2018.0,CHA,Charlotte Hornets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25279,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,2018.0,NJN,Brooklyn Nets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25280,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25281,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,2018.0,CHI,Chicago Bulls,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25282,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# View columns in Dataframe
df.columns

Index(['playerid', 'year', 'playername', 'position', 'age', 'teamabb', 'games',
       'gamestarted', 'mp', 'per', 'ts_percentage', 'threepar', 'ftr',
       'orb_percentage', 'drb_percentage', 'trb_percentage', 'ast_percentage',
       'stl_percentage', 'blk_percentage', 'tov_percentage', 'usg_percentage',
       'blank1', 'ows', 'dws', 'ws', 'wsper48', 'blank2', 'obpm', 'dbpm',
       'bpm', 'vorp', 'fg', 'fga', 'fg_percentage', 'threep', 'threepa',
       'threep_percentage', 'twop', 'twopa', 'twop_percentage',
       'efg_percentage', 'ft', 'fta', 'ft_percentage', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'salaryid', 'salaryname',
       'salary', 'seasonstart', 'seasonend', 'teamabbrevated', 'fullteam',
       'seasonyear', 'team', 'record', 'wins', 'losses', 'win_percentage',
       'teamshort'],
      dtype='object')

In [4]:
# Filter df to include columns we want, and dropping the ones we don't need  
filtered_df = df[[
    'playerid', 'year', 'playername', 'position', 'age', 'teamabb', 'games',
       'gamestarted', 'mp', 'per', 'ts_percentage', 'threepar', 'ftr',
       'ows', 'dws', 'ws', 'fg', 'fga', 'fg_percentage', 'threep', 'threepa',
       'threep_percentage', 'twop', 'twopa', 'twop_percentage',
       'efg_percentage', 'ft', 'fta', 'ft_percentage', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'salaryid', 'salaryname',
       'salary', 'seasonstart', 'seasonend', 'teamabbrevated', 'fullteam',
       'seasonyear', 'team', 'record', 'wins', 'losses', 'win_percentage',
       'teamshort'
]]

filtered_df

,playerid,year,playername,position,age,teamabb,games,gamestarted,mp,per,...,seasonend,teamabbrevated,fullteam,seasonyear,team,record,wins,losses,win_percentage,teamshort
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25278,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,2018.0,CHA,Charlotte Hornets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25279,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,2018.0,NJN,Brooklyn Nets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25280,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25281,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,2018.0,CHI,Chicago Bulls,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25282,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop values where the year is below 1990 because there wouldn't be salary data for that, and that is our target variable
dropped_df = filtered_df[filtered_df['year'] >= 1990]
dropped_df

,playerid,year,playername,position,age,teamabb,games,gamestarted,mp,per,...,seasonend,teamabbrevated,fullteam,seasonyear,team,record,wins,losses,win_percentage,teamshort
5370,22272,2014.0,Lou Amundson,PF,31.0,CHI,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,2014.0,Bulls,50-32,50.0,32.0,0.610,CHI
9548,9547,1990.0,Mark Acres,C,27.0,ORL,80.0,50.0,1691.0,8.3,...,1991.0,ORL,Orlando Magic,1990.0,Magic,31-51,31.0,51.0,0.378,ORL
9549,9548,1990.0,Michael Adams,PG,27.0,DEN,79.0,74.0,2690.0,15.4,...,1991.0,DEN,Denver Nuggets,1990.0,Nuggets,20-62,20.0,62.0,0.244,DEN
9550,9549,1990.0,Mark Aguirre,SF,30.0,DET,78.0,40.0,2005.0,15.8,...,1991.0,DET,Detroit Pistons,1990.0,Pistons,50-32,50.0,32.0,0.610,DET
9551,9550,1990.0,Danny Ainge,PG,30.0,SAC,75.0,68.0,2727.0,16.1,...,1991.0,POR,Portland Trail Blazers,1990.0,Kings,25-57,25.0,57.0,0.305,SAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25278,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,2018.0,CHA,Charlotte Hornets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25279,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,2018.0,NJN,Brooklyn Nets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25280,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25281,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,2018.0,CHI,Chicago Bulls,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25282,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,2018.0,LAL,Los Angeles Lakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Group the dataframe by playername and year 
# there are instances where the player could have played for multiple teams in a year 
# we need to sum the player stats for that year since the player stats are recorded across the multiple teams 
# there are columns however, that would need to be averaged such as their salary since the salary is reported annually 
    # and stays the same across the multiple teams
# these are the columns we'd want to sum
grouped_df = pd.DataFrame(dropped_df.groupby(["playername","year"]).sum(["games","fg","fga","threep", "threepa","twop", "twopa","ft", "fta","orb", "drb", "trb",
       "ast", "stl", "blk", "tov", "pf", "pts"]))

# view the grouped dataframe
grouped_df

                           playerid   age  games  gamestarted      mp   per  \
playername         year
A.C. Green         1990.0      9688  26.0   82.0         82.0  2709.0  14.7
                   1991.0     10166  27.0   82.0         21.0  2164.0  13.8
                   1992.0     10617  28.0   82.0         53.0  2902.0  16.7
                   1993.0     11060  29.0   82.0         55.0  2819.0  16.3
                   1994.0     11529  30.0   82.0         55.0  2825.0  17.0
...                             ...   ...    ...          ...     ...   ...
Zydrunas Ilgauskas 2007.0     18442  31.0   78.0         78.0  2130.0  18.0
                   2008.0     19003  32.0   73.0         73.0  2222.0  18.7
                   2009.0     19600  33.0   65.0         65.0  1765.0  18.0
                   2010.0     20187  34.0   64.0          6.0  1339.0  11.9
                   2011.0     20802  35.0   72.0         51.0  1145.0  12.8

                           ts_percentage  threepar    ftr  ows  ...     pf  \
playername         year                                         ...
A.C. Green         1990.0          0.548     0.057  0.459  4.4  ...  207.0
                   1991.0          0.556     0.101  0.557  3.2  ...  117.0
                   1992.0          0.556     0.070  0.569  5.8  ...  141.0
                   1993.0          0.603     0.065  0.531  6.1  ...  149.0
                   1994.0          0.555     0.038  0.391  6.7  ...  142.0
...                                  ...       ...    ...  ...  ...    ...
Zydrunas Ilgauskas 2007.0          0.527     0.001  0.242  2.6  ...  257.0
                   2008.0          0.522     0.001  0.276  2.9  ...  247.0
                   2009.0          0.523     0.054  0.240  2.1  ...  183.0
                   2010.0          0.491     0.053  0.231  0.5  ...  183.0
                   2011.0          0.531     0.003  0.144  1.0  ...  185.0

                              pts  salaryid      salary  seasonstart  \
playername         year
A.C. Green         1990.0  1061.0       1.0   1750000.0       1990.0
                   1991.0   750.0     354.0   1750000.0       1991.0
                   1992.0  1116.0     727.0   1750000.0       1992.0
                   1993.0  1051.0    1103.0   1885000.0       1993.0
                   1994.0  1204.0    1497.0   6472600.0       1994.0
...                           ...       ...         ...          ...
Zydrunas Ilgauskas 2007.0   925.0    7063.0  10142156.0       2007.0
                   2008.0  1029.0    7485.0  10841615.0       2008.0
                   2009.0   838.0    7943.0  11541074.0       2009.0
                   2010.0   474.0       0.0         0.0          0.0
                   2011.0   360.0       0.0         0.0          0.0

                           seasonend  seasonyear  wins  losses  win_percentage
playername         year
A.C. Green         1990.0     1991.0      1990.0  58.0    24.0           0.707
                   1991.0     1992.0      1991.0  43.0    39.0           0.524
                   1992.0     1993.0      1992.0  39.0    43.0           0.476
                   1993.0     1994.0      1993.0  33.0    49.0           0.402
                   1994.0     1995.0         0.0   0.0     0.0           0.000
...                              ...         ...   ...     ...             ...
Zydrunas Ilgauskas 2007.0     2008.0      2007.0  45.0    37.0           0.549
                   2008.0     2009.0      2008.0  66.0    16.0           0.805
                   2009.0     2010.0      2009.0  61.0    21.0           0.744
                   2010.0        0.0      2010.0  19.0    63.0           0.232
                   2011.0        0.0      2011.0  46.0    20.0           0.697

[12338 rows x 42 columns]

In [7]:
# Drop the index from the above dataframe so that we still retain the player name as a column
NewGrouped_df = grouped_df.reset_index(drop=False, inplace=False)
NewGrouped_df

,playername,year,playerid,age,games,gamestarted,mp,per,ts_percentage,threepar,...,pf,pts,salaryid,salary,seasonstart,seasonend,seasonyear,wins,losses,win_percentage
0,A.C. Green,1990.0,9688,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,...,207.0,1061.0,1.0,1750000.0,1990.0,1991.0,1990.0,58.0,24.0,0.707
1,A.C. Green,1991.0,10166,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,...,117.0,750.0,354.0,1750000.0,1991.0,1992.0,1991.0,43.0,39.0,0.524
2,A.C. Green,1992.0,10617,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,...,141.0,1116.0,727.0,1750000.0,1992.0,1993.0,1992.0,39.0,43.0,0.476
3,A.C. Green,1993.0,11060,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,...,149.0,1051.0,1103.0,1885000.0,1993.0,1994.0,1993.0,33.0,49.0,0.402
4,A.C. Green,1994.0,11529,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,...,142.0,1204.0,1497.0,6472600.0,1994.0,1995.0,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12333,Zydrunas Ilgauskas,2007.0,18442,31.0,78.0,78.0,2130.0,18.0,0.527,0.001,...,257.0,925.0,7063.0,10142156.0,2007.0,2008.0,2007.0,45.0,37.0,0.549
12334,Zydrunas Ilgauskas,2008.0,19003,32.0,73.0,73.0,2222.0,18.7,0.522,0.001,...,247.0,1029.0,7485.0,10841615.0,2008.0,2009.0,2008.0,66.0,16.0,0.805
12335,Zydrunas Ilgauskas,2009.0,19600,33.0,65.0,65.0,1765.0,18.0,0.523,0.054,...,183.0,838.0,7943.0,11541074.0,2009.0,2010.0,2009.0,61.0,21.0,0.744
12336,Zydrunas Ilgauskas,2010.0,20187,34.0,64.0,6.0,1339.0,11.9,0.491,0.053,...,183.0,474.0,0.0,0.0,0.0,0.0,2010.0,19.0,63.0,0.232
12337,Zydrunas Ilgauskas,2011.0,20802,35.0,72.0,51.0,1145.0,12.8,0.531,0.003,...,185.0,360.0,0.0,0.0,0.0,0.0,2011.0,46.0,20.0,0.697

In [8]:
# To test our data
testDF = NewGrouped_df.loc[NewGrouped_df["playername"] == "Yogi Ferrell"]
testDF

,playername,year,playerid,age,games,gamestarted,mp,per,ts_percentage,threepar,...,pf,pts,salaryid,salary,seasonstart,seasonend,seasonyear,wins,losses,win_percentage
12264,Yogi Ferrell,2017.0,72780,69.0,92.0,58.0,2394.0,33.7,1.556,1.43,...,180.0,924.0,35496.0,3937833.0,6051.0,6054.0,0.0,0.0,0.0,0.0

In [9]:
testDF = NewGrouped_df.loc[NewGrouped_df["playername"] == "Zydrunas Ilgauskas"]
testDF.head(3)

,playername,year,playerid,age,games,gamestarted,mp,per,ts_percentage,threepar,...,pf,pts,salaryid,salary,seasonstart,seasonend,seasonyear,wins,losses,win_percentage
12325,Zydrunas Ilgauskas,1998.0,13635,22.0,82.0,81.0,2379.0,19.7,0.564,0.005,...,288.0,1139.0,0.0,0.0,0.0,0.0,1998.0,22.0,28.0,0.440
12326,Zydrunas Ilgauskas,1999.0,14176,23.0,5.0,5.0,171.0,17.5,0.541,0.000,...,24.0,76.0,3700.0,9000000.0,1999.0,2000.0,1999.0,32.0,50.0,0.390
12327,Zydrunas Ilgauskas,2001.0,15185,25.0,24.0,24.0,616.0,16.0,0.524,0.009,...,78.0,281.0,4576.0,11250000.0,2001.0,2002.0,2001.0,29.0,53.0,0.354

In [10]:
# Making player id the index
NewGrouped_df = NewGrouped_df.set_index(['playerid'])
NewGrouped_df.head()

,playername,year,age,games,gamestarted,mp,per,ts_percentage,threepar,ftr,...,pf,pts,salaryid,salary,seasonstart,seasonend,seasonyear,wins,losses,win_percentage
playerid,,,,,,,,,,,,,,,,,,,,,
9688,A.C. Green,1990.0,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,...,207.0,1061.0,1.0,1750000.0,1990.0,1991.0,1990.0,58.0,24.0,0.707
10166,A.C. Green,1991.0,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,...,117.0,750.0,354.0,1750000.0,1991.0,1992.0,1991.0,43.0,39.0,0.524
10617,A.C. Green,1992.0,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,...,141.0,1116.0,727.0,1750000.0,1992.0,1993.0,1992.0,39.0,43.0,0.476
11060,A.C. Green,1993.0,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,...,149.0,1051.0,1103.0,1885000.0,1993.0,1994.0,1993.0,33.0,49.0,0.402
11529,A.C. Green,1994.0,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,...,142.0,1204.0,1497.0,6472600.0,1994.0,1995.0,0.0,0.0,0.0,0.000

In [11]:
NewGrouped_df.columns

Index(['playername', 'year', 'age', 'games', 'gamestarted', 'mp', 'per',
       'ts_percentage', 'threepar', 'ftr', 'ows', 'dws', 'ws', 'fg', 'fga',
       'fg_percentage', 'threep', 'threepa', 'threep_percentage', 'twop',
       'twopa', 'twop_percentage', 'efg_percentage', 'ft', 'fta',
       'ft_percentage', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'salaryid', 'salary', 'seasonstart', 'seasonend', 'seasonyear',
       'wins', 'losses', 'win_percentage'],
      dtype='object')

In [12]:
# Dropping non-statistical columns that would likely distort the ML algorithm
NewGrouped_df = NewGrouped_df.drop(columns= 'playername')
NewGrouped_df = NewGrouped_df.drop(columns= 'salaryid')
NewGrouped_df = NewGrouped_df.drop(columns= 'seasonstart')
NewGrouped_df = NewGrouped_df.drop(columns= 'seasonend')
NewGrouped_df = NewGrouped_df.drop(columns= 'seasonyear')
NewGrouped_df = NewGrouped_df.drop(columns= 'win_percentage')
NewGrouped_df

,year,age,games,gamestarted,mp,per,ts_percentage,threepar,ftr,ows,...,trb,ast,stl,blk,tov,pf,pts,salary,wins,losses
playerid,,,,,,,,,,,,,,,,,,,,,
9688,1990.0,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,4.4,...,712.0,90.0,66.0,50.0,116.0,207.0,1061.0,1750000.0,58.0,24.0
10166,1991.0,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,3.2,...,516.0,71.0,59.0,23.0,99.0,117.0,750.0,1750000.0,43.0,39.0
10617,1992.0,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,5.8,...,762.0,117.0,91.0,36.0,111.0,141.0,1116.0,1750000.0,39.0,43.0
11060,1993.0,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,6.1,...,711.0,116.0,88.0,39.0,116.0,149.0,1051.0,1885000.0,33.0,49.0
11529,1994.0,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,6.7,...,753.0,137.0,70.0,38.0,100.0,142.0,1204.0,6472600.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18442,2007.0,31.0,78.0,78.0,2130.0,18.0,0.527,0.001,0.242,2.6,...,599.0,123.0,48.0,98.0,141.0,257.0,925.0,10142156.0,45.0,37.0
19003,2008.0,32.0,73.0,73.0,2222.0,18.7,0.522,0.001,0.276,2.9,...,682.0,104.0,34.0,120.0,135.0,247.0,1029.0,10841615.0,66.0,16.0
19600,2009.0,33.0,65.0,65.0,1765.0,18.0,0.523,0.054,0.240,2.1,...,490.0,64.0,28.0,84.0,90.0,183.0,838.0,11541074.0,61.0,21.0
20187,2010.0,34.0,64.0,6.0,1339.0,11.9,0.491,0.053,0.231,0.5,...,345.0,48.0,14.0,50.0,63.0,183.0,474.0,0.0,19.0,63.0
20802,2011.0,35.0,72.0,51.0,1145.0,12.8,0.531,0.003,0.144,1.0,...,287.0,26.0,23.0,58.0,52.0,185.0,360.0,0.0,46.0,20.0

In [13]:
# Dropping rows where salary = 0.0
NewGrouped_df = NewGrouped_df.loc[(NewGrouped_df[['salary']] != 0).all(axis=1)]

NewGrouped_df

,year,age,games,gamestarted,mp,per,ts_percentage,threepar,ftr,ows,...,trb,ast,stl,blk,tov,pf,pts,salary,wins,losses
playerid,,,,,,,,,,,,,,,,,,,,,
9688,1990.0,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,4.4,...,712.0,90.0,66.0,50.0,116.0,207.0,1061.0,1750000.0,58.0,24.0
10166,1991.0,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,3.2,...,516.0,71.0,59.0,23.0,99.0,117.0,750.0,1750000.0,43.0,39.0
10617,1992.0,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,5.8,...,762.0,117.0,91.0,36.0,111.0,141.0,1116.0,1750000.0,39.0,43.0
11060,1993.0,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,6.1,...,711.0,116.0,88.0,39.0,116.0,149.0,1051.0,1885000.0,33.0,49.0
11529,1994.0,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,6.7,...,753.0,137.0,70.0,38.0,100.0,142.0,1204.0,6472600.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17328,2005.0,29.0,78.0,78.0,2615.0,19.5,0.550,0.007,0.514,4.8,...,672.0,100.0,53.0,165.0,191.0,313.0,1320.0,8740000.0,50.0,32.0
17902,2006.0,30.0,78.0,78.0,2283.0,21.9,0.576,0.006,0.427,5.6,...,591.0,91.0,38.0,136.0,155.0,280.0,1217.0,9442697.0,50.0,32.0
18442,2007.0,31.0,78.0,78.0,2130.0,18.0,0.527,0.001,0.242,2.6,...,599.0,123.0,48.0,98.0,141.0,257.0,925.0,10142156.0,45.0,37.0
19003,2008.0,32.0,73.0,73.0,2222.0,18.7,0.522,0.001,0.276,2.9,...,682.0,104.0,34.0,120.0,135.0,247.0,1029.0,10841615.0,66.0,16.0
19600,2009.0,33.0,65.0,65.0,1765.0,18.0,0.523,0.054,0.240,2.1,...,490.0,64.0,28.0,84.0,90.0,183.0,838.0,11541074.0,61.0,21.0

In [14]:
# Attempt to adjust salary amount by year to account for inflation using Consumer Price Index library, then drop year column/original salary column
import cpi

cpi.update()

In [15]:
# test accuracy against google search:
cpi.inflate(1000, 1975)

4810.613382899628

In [16]:
# test accuracy for data row:
cpi.inflate(11541074, 2009)

13922805.404261269

In [17]:
# Reset Player id to index number
NewGrouped_df.reset_index(inplace=True)

In [18]:
# Set year column to integer
NewGrouped_df['year'] = NewGrouped_df['year'].astype(int)

C:\Users\Dean\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
NewGrouped_df['adjusted_salary'] = NewGrouped_df.apply(lambda x: cpi.inflate(x.salary, int(x.year)), axis=1).round(2)

C:\Users\Dean\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
NewGrouped_df

,playerid,year,age,games,gamestarted,mp,per,ts_percentage,threepar,ftr,...,ast,stl,blk,tov,pf,pts,salary,wins,losses,adjusted_salary
0,9688,1990,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,...,90.0,66.0,50.0,116.0,207.0,1061.0,1750000.0,58.0,24.0,3465334.74
1,10166,1991,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,...,71.0,59.0,23.0,99.0,117.0,750.0,1750000.0,43.0,39.0,3325398.31
2,10617,1992,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,...,117.0,91.0,36.0,111.0,141.0,1116.0,1750000.0,39.0,43.0,3228219.89
3,11060,1993,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,...,116.0,88.0,39.0,116.0,149.0,1051.0,1885000.0,33.0,49.0,3376185.02
4,11529,1994,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,...,137.0,70.0,38.0,100.0,142.0,1204.0,6472600.0,0.0,0.0,11303509.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8885,17328,2005,29.0,78.0,78.0,2615.0,19.5,0.550,0.007,0.514,...,100.0,53.0,165.0,191.0,313.0,1320.0,8740000.0,50.0,32.0,11582222.94
8886,17902,2006,30.0,78.0,78.0,2283.0,21.9,0.576,0.006,0.427,...,91.0,38.0,136.0,155.0,280.0,1217.0,9442697.0,50.0,32.0,12122390.15
8887,18442,2007,31.0,78.0,78.0,2130.0,18.0,0.527,0.001,0.242,...,123.0,48.0,98.0,141.0,257.0,925.0,10142156.0,45.0,37.0,12659767.61
8888,19003,2008,32.0,73.0,73.0,2222.0,18.7,0.522,0.001,0.276,...,104.0,34.0,120.0,135.0,247.0,1029.0,10841615.0,66.0,16.0,13032466.89
8889,19600,2009,33.0,65.0,65.0,1765.0,18.0,0.523,0.054,0.240,...,64.0,28.0,84.0,90.0,183.0,838.0,11541074.0,61.0,21.0,13922805.40

In [21]:
# drop player ID/year/non-inflated salary
NewGrouped_df = NewGrouped_df.drop(columns= 'playerid')
NewGrouped_df = NewGrouped_df.drop(columns= 'year')
finaladjusted_df = NewGrouped_df.drop(columns= 'salary')

In [22]:
# check if any other columns should be dropped
finaladjusted_df.columns

Index(['age', 'games', 'gamestarted', 'mp', 'per', 'ts_percentage', 'threepar',
       'ftr', 'ows', 'dws', 'ws', 'fg', 'fga', 'fg_percentage', 'threep',
       'threepa', 'threep_percentage', 'twop', 'twopa', 'twop_percentage',
       'efg_percentage', 'ft', 'fta', 'ft_percentage', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'wins', 'losses',
       'adjusted_salary'],
      dtype='object')

In [23]:
# Draft of final dataframe to be processed 
finaladjusted_df

,age,games,gamestarted,mp,per,ts_percentage,threepar,ftr,ows,dws,...,trb,ast,stl,blk,tov,pf,pts,wins,losses,adjusted_salary
0,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,4.4,3.3,...,712.0,90.0,66.0,50.0,116.0,207.0,1061.0,58.0,24.0,3465334.74
1,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,3.2,2.9,...,516.0,71.0,59.0,23.0,99.0,117.0,750.0,43.0,39.0,3325398.31
2,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,5.8,2.9,...,762.0,117.0,91.0,36.0,111.0,141.0,1116.0,39.0,43.0,3228219.89
3,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,6.1,2.6,...,711.0,116.0,88.0,39.0,116.0,149.0,1051.0,33.0,49.0,3376185.02
4,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,6.7,2.6,...,753.0,137.0,70.0,38.0,100.0,142.0,1204.0,0.0,0.0,11303509.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8885,29.0,78.0,78.0,2615.0,19.5,0.550,0.007,0.514,4.8,3.3,...,672.0,100.0,53.0,165.0,191.0,313.0,1320.0,50.0,32.0,11582222.94
8886,30.0,78.0,78.0,2283.0,21.9,0.576,0.006,0.427,5.6,3.1,...,591.0,91.0,38.0,136.0,155.0,280.0,1217.0,50.0,32.0,12122390.15
8887,31.0,78.0,78.0,2130.0,18.0,0.527,0.001,0.242,2.6,4.0,...,599.0,123.0,48.0,98.0,141.0,257.0,925.0,45.0,37.0,12659767.61
8888,32.0,73.0,73.0,2222.0,18.7,0.522,0.001,0.276,2.9,3.2,...,682.0,104.0,34.0,120.0,135.0,247.0,1029.0,66.0,16.0,13032466.89
8889,33.0,65.0,65.0,1765.0,18.0,0.523,0.054,0.240,2.1,3.5,...,490.0,64.0,28.0,84.0,90.0,183.0,838.0,61.0,21.0,13922805.40